build/*
dist/*
public/*
.cache
.helm
.idea
.nitro
.nuxt
.output
idea
node_modules
.babelrc
.editorconfig
.env
.eslintignore
.eslintrc.js
.gitignore
.gitlab
.gitlab-ci.yml
.npmrc
.nvmrc
.prettierignore
.prettierrc.js
.stylelintrc.js
CHANGELOG.md
jest.config.js
nuxt.config.ts
package.json
package-lock.json
README.md
stylelint.config.js
werf-giterminism.yaml
werf.yaml
yarn-error.log
yarn.lock
