// Отступы
:root {
  --padding-step: 4px;
  --a-padding-x1: var(--padding-step);
  --a-padding-x2: calc(var(--padding-step) * 2);
  --a-padding-x3: calc(var(--padding-step) * 3);
  --a-padding-x4: calc(var(--padding-step) * 4);
  --a-padding-x5: calc(var(--padding-step) * 5);
  --a-padding-x6: calc(var(--padding-step) * 6);
  --a-padding-x7: calc(var(--padding-step) * 7);
  --a-padding-x8: calc(var(--padding-step) * 8);
  --a-padding-x9: calc(var(--padding-step) * 9);
  --a-padding-x10: calc(var(--padding-step) * 10);
  --a-padding-x11: calc(var(--padding-step) * 11);
  --a-padding-x12: calc(var(--padding-step) * 12);
  --a-padding-x13: calc(var(--padding-step) * 13);
  --a-padding-x14: calc(var(--padding-step) * 14);
  --a-padding-x15: calc(var(--padding-step) * 15);
  --a-padding-x16: calc(var(--padding-step) * 16);
  --a-padding-x17: calc(var(--padding-step) * 17);
  --a-padding-x18: calc(var(--padding-step) * 18);
  --a-padding-x20: calc(var(--padding-step) * 20);
}
